{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    <div class="row">
    
        <div class="col-2">
            <img src="{{ post.author.avatar }}" alt="Avatar">
            <h1><a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></h1>
        </div>

        <div class="col-8">
            <h1><a href="{{ post.get_absolute_url }}">{{ post }}</a></h1>
            <h4>{{ post.publish }}</h4>

            <p class="post__text">{{ post.text }}</p>
        </div>

    </div>

    <div class="row">
        <h1 class="comments">Comments</h1>
    </div>

    <div class="row">
        <div class="comments">
            {% for comment in post.comment_set.all %}
                <p>
                    <a href="{{ comment.author.get_absolute_url }}">{{ comment.author }}</a> ({{ comment.publish }}) - {{ comment.text }}
                </p>
            {% endfor %}

            {% if user.is_authenticated %}
                <a href="{% url 'comment_create' post.id %}">Add a new comment</a>
            {% else %}
                <p><a href="{% url 'login' %}?next={{ request.path }}">Login</a> to add a new comment</p>
            {% endif %}
        
        </div>
    </div>

</div>

{% endblock  %}